.product-list {
    display: flex;
    flex-wrap: wrap; /* Asegura que los elementos se envuelvan en una nueva línea si no caben en el ancho disponible */
    justify-content: space-between; /* Distribuye los elementos de manera uniforme a lo largo del contenedor */
  }
  
  .product-card {
    width: calc(25% - 10px); /* Establece el ancho de cada tarjeta, considerando el margen entre ellas */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
  }
  
  @media screen and (max-width: 768px) {
    .product-list {
      flex-direction: column; /* Cambia el diseño a una columna en dispositivos móviles */
      padding: 20px;
    }
  
    .product-card {
      width: 90%; /* Ocupa todo el ancho del contenedor en dispositivos móviles */
    }

  }
  